@mixin triangled-bg {
    background: url('../images/bg.jpg') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('../images/bg_404.jpg') no-repeat center center;
    background-size: cover;
}