//*************************
//** LAYOUT
//*************************
// Default body color and background
body {
    background: $white; // fallback
    color: $grayer;
}

// Main
.master {
    background: $white;
}

// Secondary panel
.menu-secondary {
    background: $mass-white;
}

// Tertiary panel
.menu-tertiary {
    background-color: $primary-dark;
}

// Extra bar panel
.extrabar {
    background: $mass-white;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $blackish;
}

a {
    color: $grayer;
    &:hover {
        color: $primary;
    }
}

.navbar {
    .topnav-dropdown-wrapper a {
        &:hover {
            color: #fff;
        }
    }
}

//**************************
//** SCAFFOLDING
//**************************
//Forms
input[type="text"],
input[type="number"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
textarea {
    background: $mass-white;
    border-color: $gray-light;
    color: $grayer;
    @include placeholder {
        color: lighten($gray-light, 10%);
    }
    &.checksley-error {
        border: 1px solid $red;
    }
}

// Input errors
.checksley-error-list {
    @include font-type(light);
    background: rgba($red, 0.7);
    color: $white;
}

// Blockquote
blockquote {
    border-left: 5px solid $mass-white;
}

blockquote,
blockquote p {
    color: $gray;
}

cite {
    color: $gray;
}

.summary {
    background: $grayer;
    color: $white;
}

//************************
//** NAVIGATION
//***********************
// Top navigation bar
.navbar {
    background: #0973b8;
}

//In project left navigation bar
tg-project-menu {
    background-color: #a4a4a1;
    background-image: none;
}

.main-nav {
    svg {
        fill: $white;
    }
}

//*****************************
//** TASKBOARD
//******************************
//Taskboard table
.taskboard-table-header {
    .task-colum-name {
        background: $mass-white;
        border-top: 3px solid $gray-light;
        .icon {
            fill: $gray-light;
        }
    }
}

.taskboard-table-body {
    .taskboard-cards-box {
        background: $mass-white;
    }
}

//*****************************
//** KANBAN
//******************************
//Kanban table
.kanban-table-header {
    .task-colum-name {
        background: $mass-white;
        border-top: 3px solid $gray-light;
        .icon {
            color: $gray-light;
        }
    }
}

.kanban-table-body {
    .kanban-uses-box {
        background: $mass-white;
    }
}

// .auth {
//     background-size: cover;
//     .logo {
//         font-family: "OpenSans-Light", Arial, Helvetica, sans-serif;
//         font-weight: 200;
//         font-size: 1rem;
//         margin-bottom: 1rem;
//         text-align: center;
//     }
// }

// .button-blue,
// a.button-blue {
//     font-family: "OpenSans-Light", Arial, Helvetica, sans-serif;
//     font-weight: 200;
//     font-size: 0.875rem;
//     background: #0973b8;
//     border: 0;
//     border-radius: 3px;
//     color: #fff;
//     cursor: pointer;
//     display: inline-block;
//     padding: 0.6rem 2rem;
//     text-align: center;
//     text-transform: uppercase;
//     transition: all 0.2s linear;
//     vertical-align: middle;
//     &hover {
//         background: #0973b8;
//     }
// }